
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* $font-family: 'Roboto', sans-serif;
$font-size-base: 0.925rem;
$base-color: #66f;
$text-dark: #3c4250;
$border-color: #eceef3;

$navbar-body-color: #fff;
 // $navbar-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035); 
$navbar-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$navbar-padding-y: 1rem;
$navbar-padding-x: 1.15rem;

$navbar-link-hover: $base-color;
$navbar-link-padding-y: 0.5rem;
$navbar-link-padding-x: 1rem;

$navbar-dropdown-padding-y: 0.5rem;
$navbar-dropdown-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$navbar-dropdown-radius: 0.75rem;

$navbar-dropdown-item-padding-y: 0.25rem;
$navbar-dropdown-item-padding-x: 1rem;

$navbar-dropdown-separator-margin-y: 9px;
$navbar-dropdown-separator-color: $border-color; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.925rem;
}


a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}
.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 1rem 1.15rem;
    border-bottom: 1px solid #eceef3;
  
    .container {
      @media (min-width: 576px) {
        max-width: 540px;
      }
      @media (min-width: 768px) {
        max-width: 720px;
      }
      @media (min-width: 992px) {
        max-width: 960px;
      }
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
    }  
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  .navbar-header a {
    font-weight: 500;
    color: #3c4250;
}

  .navbar-header {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    .navbar-toggler span{
        height: 2px;
        width: 22px;
        background-color: #a1aab3;
        display: block;
      }
      
    .navbar-toggler span:not(:last-child){
        margin-bottom: 0.2rem;
    }
    .navbar-toggler {
      /* // border-radius: 5px; */
      /* // background-color: transparent; */
      cursor: pointer;
      border: none;
      display: none;
      outline: none;

      @media (max-width: 768px) { display: block }
    }

    
  }

  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
  .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;

    @media (max-width: 768px) {
      display: none;
      text-align: center;
    }
 
    &.active {
      display: flex !important;
    }

    /* // Ul */
    .navbar-nav li a {
        color: #3c4250;
        text-decoration: none;
        display: inline-block;
        padding: 0.5rem 1rem;
      }
      .navbar-nav li a:hover {
        color: #66f;
      }
      @media (max-width: 768px) {
        .navbar-nav li a {
          border-bottom: 1px solid #eceef3;
        }
      }

      .navbar-nav li.active a {
        color: #66f;
      }
      

    .navbar-nav {
      margin-left: auto;
      flex-direction: row;
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      @media (max-width: 768px) {
        width: 100%;
        display: block;
        border-top: 1px solid #EEE;
        margin-top: 1rem;
      }

      
      .navbar-dropdown {
        .dropdown {
            list-style: none;
            position: absolute;
            top: 150%;
            left: 0;
            background-color: #fff;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            min-width: 160px;
            width: auto;
            white-space: nowrap;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            z-index: 99999;
            border-radius: 0.25rem;
            display: none;
          }
          
          @media (max-width: 768px) {
            .dropdown {
              position: relative;
              box-shadow: none;
            }
          }
          
          .dropdown li a {
            color: #3c4250;
            padding: 0.25rem 1.5rem;
            display: block;
          }
          
          .dropdown.show {
            display: block !important;
          }
          
      }

      .dropdown > .separator {
        height: 1px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f8f9fa;
    }    
    }
  }

  .navbar-dropdown {
    position: relative;
  }
}

.navbar .navbar-header > a span {
    color: red;
  }
  
.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
  @media (max-width: 768px) {
  font-size: 1.05rem;
  }
}
input{display:block;}
