* {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    background: rgba(252, 123, 123, 1);
    background: -moz-linear-gradient(-45deg, rgba(252, 123, 123, 1) 0%, rgba(166, 193, 255, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(252, 123, 123, 1)), color-stop(100%, rgba(166, 193, 255, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(252, 123, 123, 1) 0%, rgba(166, 193, 255, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(252, 123, 123, 1) 0%, rgba(166, 193, 255, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(252, 123, 123, 1) 0%, rgba(166, 193, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(252, 123, 123, 1) 0%, rgba(166, 193, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc7b7b', endColorstr='#a6c1ff', GradientType=1);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main-bg {
    /* // position: absolute; */
    /* // width: 100%; */
    /* // height: 100%; */
    /* // background-image: url('https://images.unsplash.com/photo-1422112528461-3186878f87dc'); */
    /* // background-size: cover; */
}

.cont_centrar {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.cont_login {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 100px auto 0;
    height: 100%;
}

.main-title {
    text-align: center;
    text-shadow: 2px 0 3px rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 300;
    padding-bottom: 5rem;
    font-family: 'Roboto', sans-serif;
}

.cont_back_info {
    position: relative;
    background-color: rgba(0, 0, 0, 0.42);
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.cont_forms {
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: -1;
    left: 0px;
    width: 45%;
    height: 450px;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_login {
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
    height: 420px;
    top: -20px;
    left: 52%;
    /* // padding: 0 20px; */
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_sign_up {
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
    height: 470px;
    top: -44px;
    left: 30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_login>.cont_img_back_ {
    top: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_sign_up>.cont_img_back_ {
    top: 0px;
    left: -435px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_info_log_sign_up {
    position: relative;
    height: 380px;
    top: 0;
    z-index: 1;
}
.col_md_login h2{
    font-weight: 400;
    margin-top: 70px;
    color: #757575;
}
.col_md_login p{
    font-weight: 400;
    margin-top: 15px;
    width: 80%;
    color: #37474F;
}

.col_md_login {
    position: relative;
    float: left;
    width: 50%;
    display: table;
    vertical-align: middle;
    height: 100%;
}

.btn_login {
    background-color: rgba(37, 37, 37, 0.6);
    border: none;
    padding: 5px 25px;
    border-radius: 3px;
    color: #d4d4d4;
    margin-top: 10px;
    cursor: pointer;
}

.col_md_sign_up {
    position: relative;
    float: left;
    width: 50%;
    display: table;
    vertical-align: middle;
    height: 100%;
}

.cont_ba_opcitiy h3{
    font-weight: 400;
            color: #d4d4d4;
            font-size: 2.2rem;

}
.cont_ba_opcitiy {
    position: relative;
    width: 100%;
    border-radius: 3px;
    /* // margin-top: 60px; */
    padding: 15px 50px;
    display: table-cell;
    vertical-align: middle;
}

/* ----------------------------------
background text    
------------------------------------
*/

.btn_sign_up {
    background-color: rgba(37, 37, 37, 0.6);
    border: none;
    padding: 5px 25px;
    border-radius: 3px;
    color: #d4d4d4;
    margin-top: 10px;
    cursor: pointer;
}

.cont_forms_active_sign_up {
    z-index: 2;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes custom_bounceInLeft {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }

    75% {
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        transform: translate3d(5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.custom_bounceInLeft {
    animation-name: custom_bounceInLeft;
}

@keyframes custom_bounceInRight {

    from,
    60%,
    75%,
    90%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        transform: translate3d(0px, 0, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        transform: translate3d(10px, 0, 0);
    }

    90% {
        transform: translate3d(-5px, 0, 0);
    }

    to {
        transform: none;
    }
}

.custom_bounceInRight {
    animation-name: custom_bounceInRight;
}

.cont_form_login {
    position: relative;
    opacity: 0;
    display: none;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_login {
    z-index: 2;

    >.cont_form_login {}
}

.cont_form_sign_up input{
    text-align: left;
    padding: 15px 5px;
    width: 100%;
    border: none;
    color: #757575;
    border-bottom: 1px solid #CACACA;

}
.cont_form_sign_up input &:focus{
    outline-offset: 0;
    outline: none;
}
.cont_form_sign_up h2{
    margin-top: 50px;
    font-weight: 400;
    color: #757575;
}
.cont_form_sign_up .btn_sign_up{
    float: right;
    color: #fff;
    margin-top: 30px;
    background-color: #B1A473;
}
.cont_form_sign_up {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    opacity: 0;
    padding: 0 40px;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.login-gap {
    padding-top: 30px;
    display: inline-block;
    width: 100%;
}
.form-group label{
    position: absolute;
    margin-bottom: 0;
    right: 5px;
    top: calc(50% - 13px);
    color: #CACACA;
}
.form-group {
    margin-bottom: 0;
    position: relative;
}
.cont_form_login input{
    padding: 15px 5px;
    width: 100%;
    border: none;
    text-align: left;
    color: #757575;
    border-bottom: 1px solid #CACACA;

}
.cont_form_login input &:focus {
    outline-offset: 0;
    outline: none;
}
.cont_form_login h2 {
     padding-top: 80px;
        padding-bottom: 20px;
        font-weight: 400;
        color: #757575;
}
.cont_form_login a {
         color: #757575;
        position: relative;
        float: left;
        margin: 10px;
        margin-left: 0;
        text-decoration: none;
}
.cont_form_login .btn_login {
      float: right;
        color: #fff;
        background-color: #B1A473;
}
.cont_form_login {
    padding: 0 40px;
}

.cont_form_sign_up>a {
    color: #757575;
    position: relative;
    float: left;
    margin: 10px;
    margin-left: 0;
}

input {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #bbbbbb;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: #bbbbbb;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: #bbbbbb;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: #bbbbbb;
    }
}